* {
    margin: 1px;
    padding: 5px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

article {
    width: 500px;
    background-color: red;
}

footer {
    background-color: yellow;
}

div {
    font-size: 3rem;
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}